<footer class="flex-shrink-0 mt-auto py-3 text-bg-secondary">
    <div class="container">
        <div class="raw">
            <div class="col">
                <p class="text-center">© Some footer text</p>
            </div>
        </div>
    </div>
</footer>
