{{#> app}}
    {{#*inline "content"}}
        {{#> header}}{{/header}}
        <section class="py-5">
            <div class="container">
                <div class="col">
                    <form method="POST" action="/events/create">
                        <h3 class="h2 mb-3">Create Event</h3>
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" id="title" name="title"
                                   aria-describedby="title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" id="description" rows="3" name="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </section>
        {{#> footer}}{{/footer}}
    {{/inline}}
{{/app}}
