{{#> app}}
    {{#*inline "content"}}
        <header class="header">
            <div class="container">
                <button type="button" class="btn btn-primary">Base class</button>
            </div>
        </header>
        <section class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <img width="200" height="200" src="https://placehold.co/200x200" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer>Some footer</footer>
    {{/inline}}
{{/app}}
