{{#> app}}
    {{#*inline "content"}}
        {{#> header}}{{/header}}
        <section class="py-5">
            <div class="container">
                <ul class="row">
                    {{#each viewData.events }}
                        <li class="col-6 col-md-4 pb-4">
                            <div class="card">
                                <img width="200" height="200" src="https://placehold.co/200x200" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.getName}}</h5>
                                    <p class="card-text">{{this.getDescription}}</p>
                                </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </section>
        {{#> footer}}{{/footer}}
    {{/inline}}
{{/app}}
